<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title%></title>

    <!-- head.html-->
   <% include partials/head.html%>
    
   <style>
       body{
           font-family: 'space mono', monospace;
       }
   </style>

</head>
<body>
    <!-- navigation.html-->
    <% include partials/navigation.html %>

    <!--body-->
    <% include partials/inicio.html %>

    <!--footer-->
    <% include partials/footer.html %>

</body>
</html>