<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title%></title>

    <!--head.html-->
    <% include partials/head.html %>


    <style>
            body{
                font-family: 'space mono', monospace;
            }
    </style>

</head>
<body>
    <!--header.html-->
    <% include partials/navigation.html %>

    <!--body-->
    <div class="container p-5">
        <header class="row p-5 text-center">
            <div class="col-lg-12 text-#333 text-center">
               <i class="fas fa-trophy fa-10x animated bounce"></i> 
            </div>
        </header>
    </div>

    <!--footer-->
    <% include partials/footer.html %>
    
</body>
</html>